<% title "Editing #{@book.title}" %>

<%= form_for(@book) do |f| %>
  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :thoughts %></p>
  <p><%= f.text_area :thoughts %></p>

  <%= f.submit 'Save' %>
<% end %>
